<div class="row">
  <div class="col col-2 col-md-2">
    <div class="m-3 d-none d-md-block">
      <div class="">
        <div class="card-body">
          <p class="m-3">
            <LinkTo role="link" class="btn btn-outline-light" @route="gallery">
              {{t "Back to gallery"}}
            </LinkTo>
          </p>
        </div>
      </div>
      <GalleryThumbnails />
    </div>
  </div>
  <div class="col col-12 col-md-10 justify-content-center">
    <div class="">
      <div class="card-body">
        <figure class="figure-fit-image">
          <img
            src="{{this.model.url}}"
            alt="image"
            class="fit-image border-2px-gray img-fluid shadow-1-strong rounded mb-4"
          />
        </figure>
      </div>
    </div>
  </div>
</div>