<div class="row">
  <Form::DissimilarityF @componentID={{"componentID-1"}} />
  <div class="col col-md-12 col-12">
    <DissimilarityC @enableMenu={{false}} @componentID={{"componentID-1"}} />
  </div>
</div>