<div class="row">
  <Form::LightnessF @componentID={{"componentID-1"}} />
  <div class="col col-md-12 col-12">
    <LightnessC @enableMenu={{false}} @componentID={{"componentID-1"}} />
  </div>
</div>