<li class="nav-item child-m">
  <a rel="me" class="nav-link" href="https://mastodon.social/@universlogique">
    Mastodon
  </a>
</li>
<li class="nav-item child-m">
  <a
    rel="nofollow"
    class="nav-link"
    href="https://www.instagram.com/universlogique/"
  >
    Instagram
  </a>
</li>
<li class="nav-item child-m">
  <a class="nav-link" href="https://www.deviantart.com/universlogique/gallery">
    Deviant
  </a>
</li>