<button
  type="button"
  role="button"
  class="btn btn btn-outline-secondary border-radius-0 m-2"
  {{on "click" (fn this.switch "fr-fr")}}
>
  FR
</button>
<button
  type="button"
  role="button"
  class="btn btn btn-outline-secondary border-radius-0 m-2"
  {{on "click" (fn this.switch "en-us")}}
>
  EN
</button>