<article class="container-xxl mt-4 mb-4">
  <section class="col-12 mb-4">
    <div class="card p-5">
      <p class="text-warning">
        No Cookies Tracking
      </p>
      <p>
        We do not use cookies to track your online activities. We assure you
        that we do not collect any personal data.
      </p>

      <p class="text-warning">
        Interactive Features
      </p>
      <p>
        JavaScript allows us to create dynamic and interactive elements on our
        site.
        <br />
        For most browsers, JavaScript is enabled by default.
        <br />
        However, if you have manually disabled it, you can enable JavaScript in
        your browser settings.<br />
        We recommend using Mozilla Firefox
      </p>
    </div>
  </section>
</article>
<article class="container-xxl mt-4 mb-4">
  <section class="col-12 mb-4">
    <div class="card p-5">
      <p class="text-warning">
        Aucun suivi par cookies
      </p>
      <p>
        Nous n'utilisons pas de cookies pour suivre vos activités en ligne et ne
        collectons pas de données personnelles.
      </p>

      <p class="text-warning">
        Fonctionnalités interactives
      </p>
      <p>
        JavaScript nous permet de créer des éléments dynamiques et interactifs
        sur notre site.
        <br />
        Pour la plupart des navigateurs, JavaScript est activé par défaut.
        <br />
        Cependant, si vous l'avez désactivé manuellement, vous pouvez l'activer
        dans les paramètres de votre navigateur.
        <br />
        Nous recommandons d'utiliser Mozilla Firefox.
      </p>
    </div>
  </section>
  <section class="col-12 mb-3">
    <ul class="list-group index-list index-list-3 mb-3 list-group">
      <li class="list-group-item">
        <a
          class="btn btn-outline-secondary btn-list-sub-item"
          href="https://mastodon.social/@universlogique"
        >
          Follow me on Mastodon
        </a>
      </li>
      <li class="list-group-item">
        <a
          class="btn btn-outline-secondary btn-list-sub-item"
          href="https://github.com/agcodes/playground/tree/main"
        >
          Github (playground)
        </a>
      </li>
      <li class="list-group-item">
        <a
          class="btn btn-outline-secondary btn-list-sub-item"
          href="https://codepen.io/universlogique"
        >
          Snippets
        </a>
      </li>
      <li class="list-group-item">
        <a
          class="btn btn-outline-secondary btn-list-sub-item"
          href="https://deviantart.com/universlogique"
        >
          Deviant art
        </a>
      </li>
    </ul>
  </section>
</article>