<main class="mb-4 page-index">
  <section class="container-fluid">
    <div class="row justify-content-center align-items-center">

      <LinkTo class="special-cursor" role="link" @route="color">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="svg-play"
          width="400"
          height="400"
          viewBox="0 0 100 100"
        >
          <circle
            cx="50"
            cy="50"
            r="48"
            stroke="black"
            stroke-width="2"
            fill="lightgray"
          />
          <polygon points="40,30 40,70 70,50" fill="black" />
        </svg>
      </LinkTo>

    </div>
  </section>
</main>

<style>

</style>