<main class="mb-4 page-index">
  <section class="container-fluid">
    <div class="row">
      <div class="col col-md-6 col-12 index-col-2">
        <div class="col col-12 index-col-2-intro">
          <p class="baseline">
            <LinkTo @route="menu">
              {{t "site_index_description"}}
            </LinkTo>

          </p>
        </div>
        <SwitchLang />
      </div>
      <div class="col col-md-6 col-12 index-col-3">
        ok menu
      </div>
    </div>
  </section>
</main>

<footer class="row text-center">
  <div class="col-12 mb-3">
    <div class="d-md-none d-block">
      <ul class="nav navbar">
        <LinksNavbar />
      </ul>
    </div>
  </div>
</footer>