<article class="container-xxl mt-4 mb-4">
  <header class="col-12">
    <h1 class="m-4">
      Sources
    </h1>
  </header>
  <section class="col-12">
    <ul class="list-group m-4">
      <li class="list-group-item">
        <a href="http://paulbourke.net/fractals/">
          Fractals, Chaos, Self-Similarity - Paul Bourke
        </a>
        <span class="btn btn-outline-secondary btn-list-sub-item">
          <a href="http://paulbourke.net/fractals/z4gasket/">
            z4 Julia Gasket
          </a>
        </span>
        <span class="btn btn-outline-secondary btn-list-sub-item">
          <a href="http://paulbourke.net/fractals/woggle/">
            Woggle
          </a>
        </span>
        <span class="btn btn-outline-secondary btn-list-sub-item">
          <a href="https://paulbourke.net/fractals/starjulia/">
            Star Julia (Roger Bagula)
          </a>
        </span>
        <span class="btn btn-outline-secondary btn-list-sub-item">
          <a href="https://paulbourke.net/fractals/multijulia/">
            Multi Julia
          </a>
        </span>
        <span class="btn btn-outline-secondary btn-list-sub-item">
          <a href="http://paulbourke.net/fractals/ifs/">
            IFS
          </a>
        </span>
      </li>
      <li class="list-group-item">
        <a
          href="https://note.com/108hassium/n/n96ebc5def594?_x_tr_sl=auto&_x_tr_sl=auto&_x_tr_tl=fr&_x_tr_tl=fr&_x_tr_hl=fr&_x_tr_hl=fr"
        >
          Fractals - 108hassium
        </a>
      </li>
      <li class="list-group-item">
        <a href="https://richmit.github.io/mraster/index.html">
          MRaster - Mitch Richling
        </a>
      </li>

      <li class="list-group-item">
        <a href="http://www.sol.com.au/kor/gan.htm">
          Ganesha Fractal - Melinda Green
        </a>
      </li>
      <li class="list-group-item">
        <a
          href="https://fr.wikipedia.org/wiki/Ensemble_de_Mandelbrot#Universalit%C3%A9"
        >
          Ensemble de Mandelbrot [FR]
        </a>
      </li>
      <li class="list-group-item">
        <a href="https://superliminal.com/fractals/bbrot/">
          The Buddhabrot Technique - Melinda Green
        </a>
      </li>
      <li class="list-group-item">
        <a href="https://images.math.cnrs.fr/Mandelbulb.html">
          Mandelbulb (math CNRS) (FR)
        </a>
      </li>
      <li class="list-group-item">
        <a
          href="https://softologyblog.wordpress.com/2011/05/04/kalisets-and-hybrid-ducks/"
        >
          Fractals - Softology's Blog
        </a>
      </li>

      <li class="list-group-item">
        <a href="https://oolong.co.uk/play/">
          Zoobie, Yinyo, Rosaly, Shimmia... - Oolong's playground
        </a>
      </li>
      <li class="list-group-item">
        <a
          href="https://github.com/aschinchon/the-chaos-game/tree/master"
        >
          The Chaos Game: an R experiment
        </a>
      </li>
      <li class="list-group-item">
        <a
          href="https://fronkonstin.com/2019/10/28/the-chaos-game-an-experiment-about-fractals-recursivity-and-creative-coding/"
        >
          Chaos game - Fronkonstin
        </a>
      </li>
      <li class="list-group-item">
        <a href="https://andrewtop.com/projects/ifs_3d/">
          3D IFS - Andrew Top
        </a>
      </li>
    </ul>
    <ul class="list-group m-4">
      <li class="list-group-item">
        <a href="http://www.ritsumei.ac.jp/~akitaoka/index-e.html">
          Akiyoshi's illusion pages
        </a>
        <span class="btn btn-outline-secondary btn-list-sub-item">
          <a href="http://www.psy.ritsumei.ac.jp/~akitaoka/color2e.html">
            Color Illusion (Akiyoshi Kitaoka)
          </a>
        </span>
      </li>
    </ul>
    <ul class="list-group m-4">
      <li class="list-group-item">
        <a href="http://mathcurve.com/">
          Mathcurve (FR)
        </a>
      </li>
      <li class="list-group-item">
        <a href="https://www.youtube.com/watch?v=-X49VQgi86E">
          La face cachée des tables de multiplications de Micmaths - Mickaël
          Launay (FR)
        </a>
      </li>
      <li class="list-group-item">
        <a href="http://mathworld.wolfram.com">
          mathworld.wolfram.com
        </a>
        <span class="btn btn-outline-secondary btn-list-sub-item">
          <a href="http://mathworld.wolfram.com/topics/PedalCurves.html">
            Pedal curves
          </a>
        </span>
        <span class="btn btn-outline-secondary btn-list-sub-item">
          <a href="http://mathworld.wolfram.com/Pentaflake.html">
            Pentaflake (penta-flocon)
          </a>
        </span>
      </li>
      <li class="list-group-item">
        <a
          href="https://www.algosome.com/articles/strange-attractors-de-jong.html"
        >
          Strange Attractors: The De Jong Attractors
        </a>
      </li>
      <li class="list-group-item">
        <a
          href="https://fronkonstin.com/2017/11/07/drawing-10-million-points-with-ggplot-clifford-attractors/"
        >
          Clifford Attractor - fronkonstin.com
        </a>
      </li>

      <li class="list-group-item">
        <a href="https://www.vorillaz.com/dadras-attractor/">
          Attractorz - Vorillaz
        </a>
      </li>
      <li class="list-group-item">
        <a href="https://en.wikipedia.org/wiki/Gingerbreadman_map">
          Gingerbreadman map
        </a>
      </li>
    </ul>
  </section>

  <header class="col-12">
    <h1 class="m-4">
      Codes
    </h1>
  </header>

  <section class="col-12">
    <ul class="list-group m-4">
      <li class="list-group-item">
        <a href="https://emberjs.com/">
          Framework : Ember JS
        </a>
      </li>
      <li class="list-group-item">
        <a href="https://ember-engines.com/">
          Ember engines
        </a>
      </li>
      <li class="list-group-item">
        <a href="https://threejs.org">three js</a>
      </li>
      <li class="list-group-item">
        <a href="https://github.com/piratefsh/image-processing">
          Image processing (filters)
        </a>
      </li>
      <li class="list-group-item">
        <a href="https://github.com/infusion/Complex.js/blob/master/complex.js">
          Complex
        </a>
      </li>
      <li class="list-group-item">
        <a href="http://www.math.sci.hiroshima-u.ac.jp/m-mat/MT/emt.html">
          Mersenne Twister
        </a>
      </li>
    </ul>
  </section>

  <section class="col-12">
    <ul class="list-group m-4">
      <li class="list-group-item">
        <a
          class="btn btn-outline-secondary btn-list-sub-item"
          href="https://www.deviantart.com/notifications/notes/#to=universlogique"
        >
          Contact
        </a>
      </li>
    </ul>
  </section>
</article>