<aside class="menu-on-canvas col-10 col-md-2 m-5 text-white fixed-bottom">

  <div class="mb-3">
    <input
      type="button"
      role="button"
      class="mb-3 btn-list-page btn btn-outline-secondary form-control"
      id="{{this.componentID}}-restart-animation"
      name="restart-animation"
      value="Restart"
      {{on "click" (fn this.restartAnimation @event)}}
    />
  </div>

  <div class="p-2">
    <span class="text-white m-4 fs-1 fs-md-3 fs-lg-2" id="span-level">
      Go !
    </span>
  </div>

  <div class="p-2">
    <span class="text-white m-4 fs-1 fs-md-3 fs-lg-2" id="span-nb-points">
      0 / 0
    </span>
  </div>

</aside>